* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  
  body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #222;
  }
  
  .container {
    padding: 4rem 5rem !important;
  }
  
  .products-container {
    display: flex;
  }
  
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  
  .accessories, .bottoms, .dresses, .outwear, .tops, .sale {
    display: none;
  }
  
  .display-flex {
    display: flex;
  }
  
  .categories {
    width: 18rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
  .categories__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.7);
    padding: .5rem 0;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: all 250ms;
  }
  .categories__link:hover {
    color: rgba(34, 34, 34, 0.4);
  }
  
  .shop-item {
    width: calc(100% / 5);
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .shop-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .shop-item__sale {
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-transform: uppercase;
    letter-spacing: .13rem;
  }
  
  .quickview {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 2rem;
    color: #222;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all ease-in-out 250ms;
  }
  
  .quickview:hover {
    opacity: 1;
  }
  
  .quickview__icon {
    font-size: 1rem;
    background-color: rgba(204, 204, 204, 0.9);
    padding: 0.7rem 1rem;
    align-self: center;
  }
  
  .quickview__info {
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
  }
  
  .quickview__price {
    font-size: 1rem;
    color: rgba(61, 61, 61, 0.6);
  }
  
  .quickview__price--sale {
    margin-left: .5rem;
    text-decoration: line-through;
  }
  
  .popup {
    height: 100vh;
    width: 100%;
    background-color: rgba(245, 239, 236, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 250ms;
  }
  
  .popup__img {
    height: 95%;
  }
  
  .popup__close-icon {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3rem;
    color: #d1d1d1;
    cursor: pointer;
    transition: all ease-in-out 250ms;
  }
  
  .popup__close-icon:hover {
    color: rgba(61, 61, 61, 0.6);
  }
  
  .popup__close-icon-clothing {
    position: absolute;
    font-size: 3.6rem;
    font-weight: lighter;
    color: #222;
    top: -1rem;
    right: 1.5rem;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(240, 240, 240, 0.6);
  }
  
  .popup-item {
    width: 75%;
    height: 150vh;
    background-color: #fff;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
  }
  
  .product-info {
    padding: 5rem 3.5rem;
    letter-spacing: 0.1rem;
    color: #222;
  }
  
  .product-info--shop {
    padding: 0 3.5rem;
  }
  
  .product-info__price {
    font-size: 2.4rem;
    margin: 3rem 0;
    display: inline-block;
    color: rgba(29, 29, 29, 0.7);
  }
  
  .product-info__price--sale {
    text-decoration: line-through;
    margin-left: .5rem;
  }
  
  .product-info__text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: rgba(29, 29, 29, 0.7);
  }
  
  .detail-group {
    color: #222;
    margin-bottom: 4rem;
  }
  
  .detail-group__span {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  .detail-group__size {
    width: 12.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding: 1.1rem 2rem;
    margin-top: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    background: url(../img/down-arrow.png) 85%/7% no-repeat #f8f8f8;
  }
  
  .detail-group__quantity {
    width: 7.5rem;
    padding: 1.1rem 1.6rem;
    margin-top: 0.5rem;
    outline: none;
    border: 0;
    background-color: #f8f8f8;
  }
  
  .clothing-item-flex {
    height: 100%;
    background-color: #fff;
    display: flex;
  }
  
  .clothing-item-flex__img-wrapper {
    min-width: 60%;
    margin: 1.5rem;
    overflow: hidden;
  }
  
  .clothing-item-flex__img-wrapper--no-margin {
    margin: 0;
  }
  
  .clothing-item-flex__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1.2rem 2.6rem;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    outline: none;
    transition: all 250ms ease-in-out;
  }
  
  .btn:hover {
    color: #222;
    background-color: #fff;
  }
  
  .btn--form {
    color: #222;
    border: 2px solid black;
    font-weight: 400;
    padding: 1.4rem 3.5rem;
    cursor: pointer;
  }
  
  .btn--form:hover {
    color: #fff;
    background-color: #222;
  }
  
  .btn--form--shop {
    padding: 2.3rem 3.4rem;
  }
  
  .btn-view {
    display: block;
    width: 10.5rem;
    margin-top: 4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: rgba(61, 61, 61, 0.6);
    border-bottom: 1px solid rgba(162, 162, 162, 0.7);
  }
  
  .popup-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    right: 9%;
    cursor: pointer;
  }
  
  .popup-btn--prev {
    transform: rotate(180deg);
    left: 9%;
  }
  
  .popup-btn__icon {
    height: 100%;
  }
  
  .popup-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    right: 9%;
    cursor: pointer;
  }
  .popup-btn--prev {
    transform: rotate(180deg);
    left: 9%;
  }
  .popup-btn__icon {
    height: 100%;
  }